:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

body {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
}

header {
  position: absolute;
  z-index: 1;
  width: 100dvw;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  /* margin: 1.3rem 1.5rem; */
  margin: 2.7dvh 6dvw;
}

#menu-icon {
  /* margin: 1.3rem 1.2rem; */
  margin: 2.7dvh 6dvw;
}

.menu-mobile {
  display: none;
  position: absolute;
  font-family: "Public sans";
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  height: 90dvh;
  width: 100%;
  top: 8.5dvh;
  text-align: center;
}

.menu-desktop {
  display: none;
}

header > button {
  display: none;
}

nav {
  height: 34dvh;
  margin-inline: 7dvw;
  margin-block: 3dvh;
  background-color: var(--white);
  text-align: center;
  border-radius: 1dvw;
  padding-block-start: 1dvh;
}

nav > ul {
  padding: 0;
  list-style-type: none;
}

nav > ul > li {
  padding-block: 1.4dvh;
  font-size: 1.1rem;
}

.bg-intro {
  background-image: url("../images/bg-intro-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-intro img {
  position: relative;
  width: 100%;
  transform: scale(0.92);
  margin-top: -10dvh;
}

.sec-1 {
  font-family: "Public sans";
  text-align: center;
}

.sec-1 .content-1 {
  color: var(--dark-blue);
  line-height: 2.95rem;
  /* line-height: 6.1dvh; */
  font-size: 2.4rem;
}

.sec-1 .content-2 {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  padding-block: 2.25dvh;
  padding-inline: 6dvw;
  line-height: 1.58rem;
}

.sec-1 button {
  background: -webkit-linear-gradient(
    left,
    var(--lime-green),
    var(--bright-cyan)
  );
  color: var(--white);
  /* font-size: 1.88dvh; */
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  font-family: "Public sans";
  height: 5.3dvh;
  width: 43dvw;
  border: 0;
  border-radius: 6dvw;
  margin: 1.72dvh auto;
}

/* section - 2 */

.sec-2 {
  font-family: "Public sans";
  text-align: center;
  background-color: var(--light-grayish-blue);
  /* background-color: brown; */
  margin: 10dvh auto 0 auto;
  padding-block: 3.25dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-1 {
  margin-block: 5dvh;
}

.block-1 .content-1 {
  color: var(--dark-blue);
  font-size: 1.95rem;
  padding-inline: 5dvh;
}

.block-1 .content-2 {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  padding-block: 2.25dvh;
  padding-inline: 6dvw;
  line-height: 1.58rem;
}

.block-2 {
  margin-block-end: 4.2dvh;
}

.block-2 .content-1 {
  color: var(--dark-blue);
  line-height: 2.95rem;
  /* line-height: 6.1dvh; */
  font-size: 1.2rem;
  padding-block: 1dvh;
}

.block-2 .content-2 {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  padding-inline: 6.8dvw;
  line-height: 1.58rem;
}

/* section -3  */
.sec-3 {
  background-color: var(--very-light-gray);
  font-family: "Public sans";
  /* text-align: center; */
  margin: 0 auto;
  padding-block: 12.1dvh;
  padding-inline: 6dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sec-3-title {
  color: var(--dark-blue);
  font-size: 1.9rem;
}

.sec-3 .article-1 {
  /* text-align: center; */
  margin-block-start: 4.5dvh;
  background-color: var(--white);
}

.sec-3 .article-1 .pic {
  height: 26dvh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1dvh 1dvh 0 0;
}

.currency {
  background-image: url("../images/image-currency.jpg");
}

.restraunt {
  background-image: url("../images/image-restaurant.jpg");
}

.plane {
  background-image: url("../images/image-plane.jpg");
}

.confetti {
  background-image: url("../images/image-confetti.jpg");
}

.sec-3 .article-2 {
  padding: 3.6dvh 8.3dvw;
}

.sec-3 .p1 {
  color: var(--grayish-blue);
  font-size: 0.6rem;
}

.sec-3 .p2 {
  color: var(--dark-blue);
  font-size: 1rem;
  padding-block: 1.6dvh;
}

.sec-3 .p3 {
  color: var(--grayish-blue);
  font-size: 0.75rem;
  padding-block-end: 2dvh;
}

/*Footer*/

footer {
  background-color: var(--dark-blue);
  font-family: "Public sans";
  text-align: center;
  color: var(--white);
  padding-block: 5dvh;
  padding-inline: 10dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-block: 2dvh;
}

.ele {
  font-size: 0.95rem;
  padding-block: 1.2dvh;
}

footer > .right-cont > button {
  background: -webkit-linear-gradient(
    left,
    var(--lime-green),
    var(--bright-cyan)
  );
  color: var(--white);
  /* font-size: 1.88dvh; */
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  font-family: "Public sans";
  height: 5.3dvh;
  width: 43dvw;
  border: 0;
  border-radius: 6dvw;
  margin-block: 4dvh;
}

.rights {
  color: var(--grayish-blue);
  font-size: 0.9rem;
}

@media screen and (min-width: 1024px) {
  .logo {
    margin-inline: 11.5dvw;
    margin-block-start: 4dvh;
  }

  header > button {
    display: block;
    background: -webkit-linear-gradient(
      left,
      var(--lime-green),
      var(--bright-cyan)
    );
    color: var(--white);
    /* font-size: 1.88dvh; */
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    font-family: "Public sans";
    height: 5.3dvh;
    width: 11.5dvw;
    border: 0;
    border-radius: 6dvw;
    margin-inline: 11.5dvw;
    margin-block: 2.5dvh;
  }

  #menu-icon {
    display: none;
  }

  .menu-desktop {
    display: block;
    font-family: "Public sans";
    color: var(--grayish-blue);
    font-size: 0.9rem;
    display: flex;
    height: 5dvh;
    align-content: center;
    justify-content: space-between;
  }

  .menu-desktop > p {
    margin-inline: 1dvw;
  }

  .bg-intro {
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    transform: scale(1.14, 1.17);
    right: -2dvw;
    top: -12.5dvh;
    /* z-index: -1; */
  }

  #mockup {
    position: relative;
    transform: scale(0.88, 0.86);
    top: 15.7dvh;
    right: -7.2dvw;
  }

  .sec-1 {
    text-align: start;
    position: relative;
    top: 24dvh;
    padding-inline: 1.5dvw;
    width: 50%;
  }

  .sec-1 .content-1 {
    line-height: 4rem;
    font-size: 3.35rem;
    padding-inline: 10dvw;
    padding-block-start: 8.5dvh;
  }

  .sec-1 .content-2 {
    color: var(--grayish-blue);
    font-size: 1.1rem;
    padding-inline-start: 9.8dvw;
    padding-inline-end: 9dvw;
    padding-block-start: 3dvh;
    line-height: 1.8rem;
  }

  .sec-1 button {
    height: 5.5dvh;
    width: 11dvw;
    border-radius: 6dvw;
    margin-inline: 10dvw;
    margin-block: 2.5dvh;
  }

  .sec-2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    position: relative;
    top: 33.5dvh;
    z-index: -1;
  }

  .block-1 {
    margin-inline: 10dvw;
    margin-block-start: 10.5dvh;
  }

  .block-1 > .content-1 {
    font-size: 2.4rem;
    padding-inline: 1.5dvw;
  }

  .block-1 > .content-2 {
    font-size: 1.13rem;
    padding-block: 3.5dvh;
    padding-inline-start: 1.4dvw;
    padding-inline-end: 30dvw;
    line-height: 1.7rem;
  }

  .reasons {
    display: flex;
    justify-content: space-between;
    margin-inline-start: 10dvw;
    margin-inline-end: 10dvw;
    padding-inline-start: 1.4dvw;
    padding-block: 0.9dvh;
  }

  .block-2 {
    margin-block-end: 4.2dvh;
    text-align: start;
  }

  .block-2 .content-1 {
    line-height: 2.95rem;
    font-size: 1.45rem;
    padding-block-start: 3.2dvh;
  }

  .block-2 > .content-2 {
    font-size: 1.05rem;
    padding-inline: 0 0.8dvw;
    padding-block: 1dvh;
    /* line-height: 1.58rem; */
  }

  .sec-3 {
    /* text-align: center; */
    position: relative;
    top: 33.5dvh;
    margin: 0 auto;
    padding-block: 11dvh;
    padding-inline-start: 11.5dvw;
    padding-inline-end: 11.5dvw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  #sec-3-title {
    font-size: 2.4rem;
  }

  .articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sec-3 .article-1 {
    margin: 2dvh 1.5dvw 0 0;
    background-color: var(--white);
    border-radius: 1dvh 1dvh 0 0;
  }

  .sec-3 .article-1 .pic {
    height: 26dvh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1dvh 1dvh 0 0;
  }

  .sec-3 .article-2 {
    padding: 0 1.5dvw;
    /* margin-inline-end: 5dvw; */
  }

  .sec-3 .p1 {
    color: var(--grayish-blue);
    font-size: 0.6rem;
    padding-block-start: 2dvh;
  }

  .sec-3 .p2 {
    color: var(--dark-blue);
    font-size: 1rem;
    padding-block: 0;
    padding-inline-end: 1dvw;
  }

  .sec-3 .p3 {
    color: var(--grayish-blue);
    font-size: 0.78rem;
    padding-block-start: 0;
    padding-inline-end: 1.5dvw;
    padding-block-end: 1dvh;
  }

  footer {
    position: relative;
    top: 32dvh;
    text-align: start;
    color: var(--white);
    padding-block: 0;
    padding-inline: 11.4dvw;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }

  .left-cont {
    margin-block-start: 5.7dvh;
    width: 20%;
  }

  .icons {
    display: flex;
    width: 69%;
    justify-content: space-between;
    margin-block: 7dvh;
    transform: scale(1);
  }

  .ele {
    font-size: 0.9rem;
    width: 35%;
    display: flex;
    justify-content: space-around;
    margin-left: -17dvw;
    padding-block: 0;
    margin-block: 4.6dvh;
  }

  .right-cont {
    margin-block-start: 5.7dvh;
    width: 20%;
    text-align: end;
  }

  footer > .right-cont > button {
    font-size: 0.9em;
    font-weight: bold;
    text-align: center;
    font-family: "Public sans";
    height: 6dvh;
    width: 11.5dvw;
    border: 0;
    border-radius: 6dvw;
    margin-block: 0;
  }

  .rights {
    color: var(--grayish-blue);
    font-size: 0.9rem;
    margin-block-start: 3.8dvh;
  }

  button:hover {
    cursor: pointer;
  }

  .sec-3 .p2:hover {
    color: var(--lime-green);
  }

  .menu-desktop > p:hover {
    border-bottom: 5px solid transparent;
    padding-bottom: 2rem;
    border-image: -webkit-linear-gradient(
      left,
      var(--lime-green),
      var(--bright-cyan)
    );
    border-image-slice: 1;
    width: 100%;
    color: black;
  }

  .ele1 > p:hover {
    color: var(--lime-green);
    cursor: pointer;
  }

  .ele2 > p:hover {
    color: var(--lime-green);
    cursor: pointer;
  }

  .icons > svg > path:hover {
    fill: var(--lime-green);
    cursor: pointer;
  }
}
